lab02/biblioteka.dtd

<!ELEMENT Biblioteka (Książka+)>
<!ELEMENT Książka (Tytuł,Autorzy,RokWydania)>
<!ELEMENT Tytuł (#PCDATA)>
<!ELEMENT Autorzy (Autor+)>
<!ELEMENT Autor (Imię,Nazwisko)>
<!ELEMENT Imię (#PCDATA)>
<!ELEMENT Nazwisko (#PCDATA)>
<!ELEMENT RokWydania (#PCDATA)>

<!ATTLIST Książka ISBN CDATA #REQUIRED>
<!ATTLIST Książka Język CDATA #IMPLIED>
<!ATTLIST RokWydania NumerWydania CDATA #IMPLIED>
